PORT=8080
DB_URL=jdbc:mysql://localhost:3306/solvemate?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change-me
ML_SERVICE_URL=http://localhost:5000
GEMINI_API_KEY=change-me
SHOW_SQL=false
FORMAT_SQL=false
